@font-face {
    font-family: 'ArchivoNarrowRegular';
    src: url('./ArchivoNarrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url('./ArchivoNarrow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DDINBold';
    src: url('./D-DIN-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}